@import "../bower_components/bootstrap/scss/bootstrap";
$dark-blue: #082567;
.search-wrapper {
    padding-top: 20px;
}

body {
    background-image: url("../images/img.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
         to improve page load speed on mobile internet connections */
        background-image: url("../images/img-sm.jpg");
    }
}

#searchBox,
#searchButton,
#random,
.article {
    background-color: $white;
    color: $blue;
    &:hover {
        background-color: $dark-blue;
        color: $white;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $white;
    }
}

.article {
    margin: 10px;
}