@import "../bower_components/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
$body-background-color: #070D79;
$main-color: #B67B0B;
body {
    background-color: $body-background-color;
    .wrapper {
        border: 4px solid $main-color;
        .heading {
            h1 {
                color: $main-color;
                font-family: 'Oswald', sans-serif;
                font-size: 400%;
            }
        }
        .buttons {
            
                .list {
                    text-align: center;
                    width: 70px;
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: $main-color;
                        color: $body-background-color;
                        width: 100px;
                    }
                }
            }
        }
    }
